.book-item {
    border: 1px solid black;
    border-radius: 5px;
    height: 150px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    background-color: yellow;
    margin-top: 20px;
}

.book-title {
    height: 40%;
    background-color:#33cc80;
}

.book-item-delete {
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.book-author {
    height: 30%;
}

.book-price {
    height: 30%;
}

.book-list-item {
    margin-top: 20px;
    width: 130px;
    height: 60px;
    border: 2px solid black;
    border-radius: 5px;
    background: #33cc80;
    vertical-align: center;
    text-align: center;
}

.book-list-item-title {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    display: inline-block;
}

.router-link-element {
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    color: blue;
    padding: 10px;
}

a:focus {
    text-decoration: none;
}

.book-form {
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 200px;
}

.book-form-input {
    height: 12px;
    width: 100px;
}